html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body, html {
  width: 100%;
  height: 100%;
  font-weight: 300; }
  body h1, body h2, body h3, body h4, body h5, body h6, html h1, html h2, html h3, html h4, html h5, html h6 {
    font-weight: 300; }

.main-navigation {
  right: 0;
  position: fixed;
  z-index: 10; }

.nav-menu {
  height: 100px;
  float: right;
  top: 300px;
  right: 20px;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 999; }

.menu-item-type-custom {
  display: block;
  margin-bottom: 13px;
  height: 13px;
  width: 13px;
  /*background-color:none;*/
  border-radius: 13px;
  border: solid 1px #5A5A5A;
  text-decoration: none; }

.link {
  display: block;
  margin-bottom: 13px;
  height: 13px;
  width: 13px;
  background-color: transparent;
  border-radius: 13px;
  border: none;
  text-decoration: none;
  opacity: 0; }

.current {
  display: block;
  height: 13px;
  width: 13px;
  background-color: #5A5A5A;
  border-radius: 13px;
  border: solid 1px #5A5A5A;
  text-decoration: none; }

.alignnone:hover {
  opacity: 1; }

.alignnone {
  opacity: 0.5;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 868px;
  clear: both;
  display: block;
  margin-left: -100px;
  margin-right: auto;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out; }

p {
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 15px 0; }
  @media screen and (min-width: 700px) {
    p {
      font-size: 18px;
      line-height: 20px; } }

.intro {
  background: #0f1111; }

.profile {
  background: #272c2c; }

.work {
  background: #3f4747; }

.connect {
  background: #576262; }

.blog {
  background: #3f4747; }

.okbye {
  background: #272c2c; }

.circleL, .circleR {
  height: 50px;
  width: 50px;
  background: #e5f4fa;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  position: relative; }

.circleR {
  float: left; }

.circleL {
  float: right; }

.white {
  color: #19b3f7;
  font-size: 38px; }

#wrapper {
  width: 100%;
  height: 100%;
  background: #0f1111;
  color: #e5f4fa;
  font-family: 'Lato', sans-serif; }
  #wrapper .profile-image {
    height: 90px;
    width: 90px;
    margin: 5px 0 20px 0; }
    @media screen and (min-width: 700px) {
      #wrapper .profile-image {
        height: 171px;
        width: 171px;
        float: left;
        margin: 4% 30px 0 10%; } }
    @media screen and (min-width: 950px) {
      #wrapper .profile-image {
        margin-left: 20%; } }
    @media screen and (min-width: 1300px) {
      #wrapper .profile-image {
        margin-left: 20%; } }
  #wrapper header h1 {
    font-size: 32px;
    margin: 0 0 5px 0; }
    @media screen and (min-width: 700px) {
      #wrapper header h1 {
        font-size: 36px;
        margin-bottom: 10px; } }
  #wrapper header h2 {
    font-size: 24px;
    margin: 0 0 20px 0; }
    @media screen and (min-width: 700px) {
      #wrapper header h2 {
        font-size: 26px; } }
  #wrapper header h3 {
    font-size: 18px;
    margin: 0 0 23px 0; }
    @media screen and (min-width: 700px) {
      #wrapper header h3 {
        font-size: 24px;
        line-height: 22px; } }
  @media screen and (min-width: 700px) {
    #wrapper .profile .aligner2, #wrapper .work .aligner2, #wrapper .connect .aligner2, #wrapper .blog .aligner2, #wrapper .okbye .aligner2 {
      width: 40%;
      max-width: 400px;
      margin: 95px auto;
      float: none; } }
  #wrapper .profile h2 em, #wrapper .work h2 em, #wrapper .connect h2 em, #wrapper .blog h2 em, #wrapper .okbye h2 em {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin: 15px 0 20px 0;
    display: block; }
  #wrapper .profile p, #wrapper .work p, #wrapper .connect p, #wrapper .blog p, #wrapper .okbye p {
    margin: 0 0 18px 0; }
  #wrapper .work h2, #wrapper .connect h2 {
    font-size: 24px;
    margin: 38px 0 24px 0; }
  #wrapper .work h3, #wrapper .connect h3 {
    font-size: 22px;
    margin: 40px 0; }
  #wrapper .work a, #wrapper .connect a {
    font-size: 24px;
    margin: 20px 0; }
  #wrapper .okbye {
    text-align: center;
    max-height: 100%; }
    #wrapper .okbye h2 {
      font-size: 24px;
      margin: 24px 0; }
  #wrapper header, #wrapper section {
    padding: 0 0 5% 0;
    min-height: 570.015px;
    height: 100%;
    border: 1px solid rgba(51, 51, 51, 0); }
  #wrapper .regLinks {
    color: #19b3f7;
    text-decoration: none;
    display: block;
    margin: 10px 0; }
    #wrapper .regLinks span {
      border-bottom: 1px solid #19b3f7; }
  #wrapper .aligner {
    border: 1px solid rgba(51, 51, 51, 0);
    margin: 0 auto;
    max-width: 90%;
    height: 71%; }
    @media screen and (min-width: 700px) {
      #wrapper .aligner {
        height: 85%; } }
  @media screen and (min-width: 700px) {
    #wrapper .aligner2 {
      width: 40%;
      max-width: 400px;
      margin: 95px auto;
      float: left; } }
  #wrapper .buttonContainer {
    height: 10%;
    width: 90%;
    margin: 0 auto;
    border: 1px solid rgba(51, 51, 51, 0);
    position: fixed; }
  #wrapper .image_container {
    width: 202px;
    padding: 12px;
    margin: 30px auto; }
    #wrapper .image_container img {
      margin: 5px; }
