html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.aligner {
  margin: 0 auto;
  max-width: 800px; }

#wrapper {
  font-family: 'Lato', sans-serif;
  color: #e5f4fa;
  width: 100%; }
  #wrapper code {
    background: #fcfcfc;
    color: #333;
    width: 260px;
    display: block;
    border-radius: 4px;
    margin: 20px 0px 10px 0px;
    padding: 10px 10px 20px 10px;
    box-sizing: border-box; }
  #wrapper blockquote {
    border-right: 1px solid #e5f4fa;
    min-height: 50px;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 1.250em;
    font-style: italic;
    text-align: right;
    padding-right: 10px;
    font-weight: 400;
    line-height: 1.45em;
    padding-bottom: 20px; }
  #wrapper h1, #wrapper h2, #wrapper h3, #wrapper h4, #wrapper h5, #wrapper h6 {
    font-weight: 400; }
  #wrapper em {
    font-weight: 300; }
  #wrapper p {
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.225em;
    margin: 1.500em auto; }
  #wrapper h1 {
    font-size: 2.6em;
    margin-bottom: 0.65em; }
  #wrapper h2 {
    font-size: 1.500em;
    margin-bottom: 0.65em; }
  #wrapper h3 {
    font-size: 1.125em;
    line-height: 1.225em; }
  #wrapper h4 {
    font-size: 0.750em;
    font-weight: 100;
    font-style: italic;
    margin-top: 5px; }
    #wrapper h4 span {
      color: #19b3f7; }
  #wrapper a {
    color: #19b3f7;
    text-decoration: none;
    font-size: 21px;
    margin-bottom: 0.65em; }
  #wrapper a:nth-child(2) {
    margin-top: 2.225em; }
  #wrapper a:nth-child(5) {
    margin-bottom: 2.225em; }
  #wrapper .content_section {
    height: 568.926px;
    max-width: 100%;
    padding: 30px; }
    #wrapper .content_section a {
      display: block; }
      #wrapper .content_section a span {
        border-bottom: 1px solid; }
  #wrapper .intro {
    background: #0f1111; }
  #wrapper .profile {
    background: #272c2c; }
  #wrapper .work {
    background: #3f4747; }
  #wrapper .connect {
    background: #576262; }
  #wrapper .blog {
    background: #3f4747; }
  #wrapper .okbye {
    background: #272c2c; }
    #wrapper .okbye .image_container {
      width: 90%;
      margin: 40px auto;
      padding: 10px;
      border: 1px dotted #00ffff; }
    #wrapper .okbye img {
      margin: 10px; }
  #wrapper .profile h2, #wrapper .work h2, #wrapper .connect h2, #wrapper .okbye h2 {
    margin-top: 2.575em; }
