html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body, html {
  width: 100%;
  height: 100%;
  font-weight: 300; }
  body h1, body h2, body h3, body h4, body h5, body h6, html h1, html h2, html h3, html h4, html h5, html h6 {
    font-weight: 300; }

.intro {
  background: #0f1111; }

.profile {
  background: #272c2c; }

.work {
  background: #3f4747; }

.connect {
  background: #576262; }

.blog {
  background: #3f4747; }

.okbye {
  background: #272c2c; }

.circleL, .circleR {
  height: 50px;
  width: 50px;
  background: #e5f4fa;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  position: relative; }

.circleR {
  float: right; }

.circleL {
  float: left; }

.white {
  color: #19b3f7;
  font-size: 38px; }

#wrapper {
  width: 100%;
  height: 100%;
  background: #0f1111;
  color: #e5f4fa;
  font-family: 'Lato', sans-serif; }
  #wrapper .profile-image {
    height: 90px;
    width: 90px;
    margin: 5px 0 20px 0; }
  #wrapper header h1 {
    font-size: 32px;
    margin: 0 0 5px 0; }
  #wrapper header h2 {
    font-size: 24px;
    margin: 0 0 20px 0; }
  #wrapper header h3 {
    font-size: 18px;
    margin: 0 0 23px 0; }
  #wrapper header p {
    font-size: 16px;
    margin: 0 0 20px 0; }
  #wrapper .profile h2 em {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin: 20px 0 24px 0;
    display: block; }
  #wrapper .profile p {
    margin: 0 0 18px 0; }
  #wrapper .work h2, #wrapper .connect h2 {
    font-size: 24px;
    margin: 38px 0 24px 0; }
  #wrapper .work h3, #wrapper .connect h3 {
    font-size: 22px;
    margin: 40px 0; }
  #wrapper .work a, #wrapper .connect a {
    font-size: 24px;
    margin: 20px 0; }
  #wrapper .okbye {
    text-align: center;
    max-height: 100%; }
    #wrapper .okbye h2 {
      font-size: 24px;
      margin: 24px 0; }
  #wrapper header, #wrapper section {
    padding: 0 0 5% 0;
    min-height: 570.015px;
    height: 100%;
    border: 1px solid red; }
  #wrapper .regLinks {
    color: #19b3f7;
    text-decoration: none;
    display: block;
    margin: 10px 0; }
    #wrapper .regLinks span {
      border-bottom: 1px solid #19b3f7; }
  #wrapper .aligner {
    border: 1px dotted #00ffff;
    margin: 0 auto;
    max-width: 90%;
    height: 71%; }
  #wrapper .buttonContainer {
    height: 10%;
    width: 90%;
    margin: 0 auto;
    border: 1px dashed #fff; }
  #wrapper .image_container {
    width: 202px;
    padding: 12px;
    margin: 30px auto; }
    #wrapper .image_container img {
      margin: 5px; }
