@import '_htmlReset.scss';

$bg_color01: #0f1111;
$text_color: #e5f4fa;
$link_color: #19b3f7;
.aligner {
	margin: 0 auto;
	max-width: 800px;
}
#wrapper {
	font-family: 'Lato', sans-serif;
	color: $text_color;
	width: 100%;
	code {
		background: #fcfcfc;
		color: #333;
		width: 260px;
		display: block;
		border-radius: 4px;
		margin: 20px 0px 10px 0px;
		padding: 10px 10px 20px 10px;
		box-sizing: border-box;
	}
	blockquote {
		border-right: 1px solid $text_color;
		min-height: 50px;
		margin-top: 20px;
		padding-top: 20px;
		font-size: 1.250em;
		font-style: italic;
		text-align: right;
		padding-right: 10px;
		font-weight: 400;
		line-height: 1.45em;
		padding-bottom: 20px;
	}
	h1, h2, h3, h4, h5, h6, {
			font-weight: 400;
		}
	em {
		font-weight: 300;
	}
	p {
		font-size: 0.875em;
		font-weight: 300;
		line-height: 1.225em;
		margin: 1.500em auto;
	}
	h1 {
		font-size: 2.6em;
		margin-bottom: 0.65em;
	}
	h2 {
		font-size: 1.500em;
		margin-bottom: 0.65em;
	}
	h3 {
		font-size: 1.125em;
		line-height: 1.225em;
	}
	h4 {
		font-size: 0.750em;
		font-weight: 100;
		font-style: italic;
		margin-top: 5px;
		span {
			color: $link_color;
		}
	}

	a {
		color: $link_color;
		text-decoration: none;
		font-size: 21px;
		margin-bottom: 0.65em;
	}
	a:nth-child(2) {
		margin-top: 2.225em;
	}
	a:nth-child(5) {
		margin-bottom: 2.225em;
	}
	.content_section {
		height: 568.926px;
		max-width: 100%;
		padding: 30px;
			a {
				display: block;
				span {
				border-bottom: 1px solid;
			}
		}
	}
	.intro{
		background: $bg_color01;
	}
	.profile {
		background: lighten($bg_color01, 10%);
	}
	.work {
		background: lighten($bg_color01, 20%);
	}
	.connect {
		background: lighten($bg_color01, 30%);
	}
	.blog {
		background: lighten($bg_color01, 20%);
	}
	.okbye {
		background: lighten($bg_color01, 10%);
		.image_container {
			width: 90%;
			margin: 40px auto;
			padding:10px;
			border: 1px dotted #00ffff;
		}
		img {
			margin: 10px;
		}
	}
	.profile, .work, .connect, .okbye {
		h2 {
			margin-top: 2.575em;
		}
	}
}
